[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Joseph Martz (josephmartz)
[access "refs/for/refs/*"]
	read = group user/Joseph Martz (josephmartz)
	push = group user/Joseph Martz (josephmartz)
	label-Code-Review = -2..+2 group user/Joseph Martz (josephmartz)
	label-Verified = -1..+1 group user/Joseph Martz (josephmartz)
	rebase = group user/Joseph Martz (josephmartz)
	removeReviewer = group user/Joseph Martz (josephmartz)
	submit = group user/Joseph Martz (josephmartz)
[access "refs/heads/*"]
	read = group user/Joseph Martz (josephmartz)
	create = group user/Joseph Martz (josephmartz)
	push = +force group user/Joseph Martz (josephmartz)
	pushMerge = group user/Joseph Martz (josephmartz)
[access "refs/tags/*"]
	push = +force group user/Joseph Martz (josephmartz)
	pushTag = group user/Joseph Martz (josephmartz)
	pushSignedTag = group user/Joseph Martz (josephmartz)
